/*
0 - 600px       Phone
600 - 900px     Tablet portrait
900 - 1200px    Tablet Landscape
1200 - 1800px   Normal styles
1800px + :      Big Screen

$breakpoint arguments choices
-   phone
-   tab-port
-   tab-land
-   big-desktop
- 1em- 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  text-decoration: none; }

.clubs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 3rem 0 0 0;
  margin: auto;
  height: 100%;
  justify-content: space-evenly; }
  .clubs_heading {
    font-size: 4rem; }
  .clubs-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .clubs-con {
        width: 18rem;
        justify-content: center; } }
    .clubs-con-img {
      width: 22rem;
      margin-bottom: 6rem; }
      .clubs-con-img img {
        width: 100%; }

.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__heading {
    text-align: center;
    font-size: 5rem; }
    .popup__heading-content {
      text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .popup__heading {
        font-size: 2rem; } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 1;
    transition: all .5s .2s; }
  .popup__right {
    padding: 3rem 5rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__right {
        padding: 2rem; } }
  .popup__img {
    width: 100%;
    display: block; }
    @media only screen and (max-width: 75em) {
      .popup__img {
        display: inline-block;
        width: 49%; } }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    overflow-y: scroll;
    height: 31rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .popup__text .list {
      text-align: center;
      padding: 3rem;
      margin: 4rem 0;
      font-size: 1.5rem;
      border: 5px solid #444; }
      @media only screen and (max-width: 37.5em) {
        .popup__text .list {
          margin: 1rem 0;
          padding: .5rem; } }
      .popup__text .list-header {
        font-size: 3rem;
        margin-bottom: 1rem; }
      .popup__text .list-disc {
        font-size: 1rem; }
      .popup__text .list-boxCon {
        display: flex;
        justify-content: center; }
        @media only screen and (max-width: 37.5em) {
          .popup__text .list-boxCon {
            display: block; } }
        .popup__text .list-boxCon .btn {
          padding: 1.3rem;
          background: #1212ff; }
          .popup__text .list-boxCon .btn a,
          .popup__text .list-boxCon .btn a:visited,
          .popup__text .list-boxCon .btn a:link {
            color: #eee; }
        .popup__text .list-boxCon-rules {
          margin: 2rem; }
        .popup__text .list-boxCon-reg {
          margin: 2rem; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #7ed56f; }
