$spin-speed: 0.7s;
$color-collection: ('#2980b9', '#c0392b', '#1abc9c', '#f39c12', '#8e44ad', '#8e44ad', '#8e44ad', '#8e44ad');
$degFactor: 45;

$color-primary: #7ed56f;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

// ----------------------
// RESPONSIVE BREAKPOINTS
// ----------------------

// $bp-largest: 75em; // 1200px
// $bp-large: 62.5em; // 1000px
// $bp-medium: 50em; // 800px
// $bp-small: 37.5em; // 600px