.navbar{

  .menu-button {
    border: 0;
    background-color: transparent;
    padding: 15px;
    border-radius: 50px;
    margin: 10px;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 999999;
    outline: none;
    cursor: pointer;
    
    &:hover,
    &.active {
      background-color: white;
      .menu-bar {
        background-color: black;
      }
    }
    
    .menu-bar {
      width: 30px;
      height: 2px;
      background-color:white;
      position: relative;
      margin: 4px 0;
      margin: 5px auto; 
      transform-origin: center center;
    }
  }
  
  #menu {
    width: 0;
    height: 0;
    position: fixed;
    background-color: lighten(#fff, 40%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .menu-nav {
    list-style: none;
    margin: 0;
    padding: 30px 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 2rem;
    overflow: hidden;
    
    a {
      text-decoration: none;
      color: black;
      padding: 10px;
      display: block;
      opacity: 0;
      font-family: 'Space Mono', monospace;
      
      &:hover {
        background-color: lighten(#000, 60%);
      }
    }
  }

}