.popup {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;


    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    &__heading{
        text-align: center;
        font-size: 5rem;
        &-content{
            text-align: center;
        }

        @include respond(phone){
            font-size: 2rem;
        }
    }

    &__content {
        @include absCenter;
        width: 90%;
        // overflow-y: scroll;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        // display: table;
        // overflow: hidden;
        border-radius: 3px;
        opacity: 1;
        // transform: translate(-50%, -50%) scale(.25);s
        transition: all .5s .2s;
    }

    &__right {
        padding: 3rem 5rem;

        @include respond(tab-port){
            padding: 2rem;
        }
    }

    &__img {
        width: 100%;
        display: block;

        @include respond(tab-land) {
            display: inline-block;
            width: 49%;
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        overflow-y: scroll;
        height: 31rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;



        .list{
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            text-align: center;
            padding: 3rem;
            margin: 4rem 0;
            font-size: 1.5rem;
            border: 5px solid #444;

            @include respond(phone){
                margin: 1rem 0;
                padding: .5rem;
            }

            &-header{
                font-size: 3rem;
                margin-bottom: 1rem;
            }

            &-disc{
                font-size: 1rem;
            }

            &-boxCon{
                display: flex;
                justify-content: center;

                @include respond(phone){
                    display: block;
                }

                .btn{
                    // border: 1px solid #222;
                    padding: 1.3rem;
                    background: rgb(18, 18, 255);

                    a,
                    a:visited,
                    a:link{
                        color: #eee;
                    }
                }

                &-rules{
                    margin: 2rem;
                }

                &-reg{
                    margin: 2rem;
                }
            }
        }

        @include respond(tab-port) {
        
        }
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 0.5rem;
            right: 0.8rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }
        &:hover {
            color: $color-primary;
        }
    }

}